@using EasyLearn.Models.Enums
@model EasyLearn.Models.DTOs.UserDTOs.CreateUserRequestModel

@{
    Layout = "~/Views/Shared/_nullLayout.cshtml";
}

<style>
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }
</style>

<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="~/uploads//Logos/LoginBackground.webp"
                                 alt="Sample photo" class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase">Join Us Today</h3>
                                <form asp-controller="Student" asp-action="RegisterStudent" enctype="multipart/form-data">

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1m" class="form-control form-control-lg" name="FirstName" />
                                                <label class="form-label" for="form3Example1m">First name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1n" class="form-control form-control-lg" name="LastName" />
                                                <label class="form-label" for="form3Example1n">Last name</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="Email" id="form3Example1m1" class="form-control form-control-lg" name="Email" />
                                                <label class="form-label" for="form3Example1m1">Email</label>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <input type="password" id="form3Example1m" class="form-control form-control-lg" name="Password" />
                                                    <label class="form-label" for="form3Example1m">Password</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <input type="password" id="form3Example1n" class="form-control form-control-lg" name="ConfirmPassword" />
                                                    <label class="form-label" for="form3Example1n">Confirm Password</label>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                                            <h6 class="mb-0 me-4">Studentship Status: </h6>

                                            <div class="form-check form-check-inline mb-0 me-4">
                                                <input class="form-check-input" type="radio" name="StudentshipStatus" id="@StudentshipStatus.Graduate"
                                                       value="@StudentshipStatus.Graduate" />
                                                <label class="form-check-label" for="femaleGender">Graduate</label>
                                            </div>

                                            <div class="form-check form-check-inline mb-0 me-4">
                                                <input class="form-check-input" type="radio" name="StudentshipStatus" id="@StudentshipStatus.Student"
                                                       value="@StudentshipStatus.Student" />
                                                <label class="form-check-label" for="maleGender">Student</label>
                                            </div>


                                        </div>

                                        <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                                            <h6 class="mb-0 me-4">Gender: </h6>

                                            <div class="form-check form-check-inline mb-0 me-4">
                                                <input class="form-check-input" type="radio" name="Gender" id="@Gender.Female"
                                                       value="@Gender.Female" />
                                                <label class="form-check-label" for="femaleGender">Female</label>
                                            </div>

                                            <div class="form-check form-check-inline mb-0 me-4">
                                                <input class="form-check-input" type="radio" name="Gender" id="@Gender.Male"
                                                       value="@Gender.Male" />
                                                <label class="form-check-label" for="maleGender">Male</label>
                                            </div>


                                        </div>

                                        @*  <div class="row">
                                        <div class="col-md-6 mb-4">

                                        <select class="select">
                                        <option value="1">State</option>
                                        <option value="2">Option 1</option>
                                        <option value="3">Option 2</option>
                                        <option value="4">Option 3</option>
                                        </select>

                                        </div>
                                        <div class="col-md-6 mb-4">

                                        <select class="select">
                                        <option value="1">City</option>
                                        <option value="2">Option 1</option>
                                        <option value="3">Option 2</option>
                                        <option value="4">Option 3</option>
                                        </select>

                                        </div>
                                        *@
                                    @*  <div class="form-outline mb-4">
                                    <input type="text" id="form3Example9" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example9">DOB</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                    <input type="text" id="form3Example90" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example90">Pincode</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                    <input type="text" id="form3Example99" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example99">Course</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                    <input type="text" id="form3Example97" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example97">Email ID</label>
                                    </div>
                                    *@
                                    </div>

                                    <div class="auth-form-group-custom mb-4">
                                        <i class="ri-user-2-line auti-custom-input-icon"></i>
                                        <label for="FormFile">Profile picture</label>
                                        <input type="file" class="form-control" id="FormFile" accept=".png, .jpg, .jpeg" name="FormFile">
                                    </div>
                                    <div class="d-flex justify-content-end pt-3">
                                        <button type="reset" class="btn btn-light btn-lg">Reset all</button>
                                        <button type="submit" class="btn btn-warning btn-lg ms-2">Submit form</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
                                }


@{
    /*
    //ViewBag.Title = "EasyLearn || Register new admin";
    ViewData["Title"] = "Home Page";

    <partial name="_Notification" />
    <div>
    <h2>Sign up and start learning</h2>
    <div class="row">
    <div class="col-md-4 text-left">
    @using (Html.BeginForm("RegisterStudent", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <div class="form-group">
            @Html.LabelFor(x => x.FirstName, new { @class = "text-left" })
            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "Real Name" })
            @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
            @Html.LabelFor(x => x.LastName, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeholder = "Real Name" })
            @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
            @Html.LabelFor(x => x.Email, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Real Name" })
            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
            @Html.LabelFor(x => x.Password, new { @class = "form-label" })
            @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Real Name" })
            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
            @Html.LabelFor(x => x.ConfirmPassword, new { @class = "form-label" })
            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Real Name" })
            @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
            @Html.LabelFor(x => x.Gender, new { @class = "form-label" })
            @Html.DropDownListFor(x => x.Gender, new SelectList(Enum.GetValues(typeof(Gender))) , new { @class = "btn btn-secondary dropdown-toggle" })
            @Html.ValidationMessageFor(x => x.Gender, "", new { @class = "text-danger" })
            </div>



            <div class="form-group">
            @Html.LabelFor(x => x.StudentshipStatus, new { @class = "" })
            @Html.DropDownListFor(x => x.StudentshipStatus, new SelectList(Enum.GetValues(typeof(StudentshipStatus))), new {@class="btn btn-secondary dropdown-toggle"})
            @Html.ValidationMessageFor(x => x.StudentshipStatus, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                @Html.LabelFor(x => x.FormFile, new { @class = "" })
                @*<label for="file">Choose file</label>*@
                <input type="file" name="formFile" id="formFile" accept=".png, .jpg, .jpeg" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="reset" class="btn btn-danger">Reset</button>
                                    }

                                    </div>

                                    <div class="col-md-6">
                                            @* <h2></h2> *@

                                            </div>

    </div>
    </div>

    @section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    */
}











@{
    /*
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";

    <div>
    <div class="container-fluid p-0">
                <div class="row g-0">
                <div class="col-lg-4">
                <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
                        <div class="w-100">
                        <div class="row justify-content-center">
                                    <div class="col-lg-9">
                                    <div>
                                    <div class="text-center">
                                            <div>
                                            <a asp-controller="Home" class="">
                                                <img src="/uploads/Logos/logo.jpg" alt="" height="20" class="auth-logo logo-dark mx-auto">
                                                <img src="/uploads/Logos/logo.jpg" alt="" height="20" class="auth-logo logo-light mx-auto">
                                        </a>
                                        </div>

                                        <h4 class="font-size-18 mt-4">Register account</h4>
                                        <p class="text-muted">Get your free learning account now.<br /><span>and start learning</span></p>


                                        </div>

                                        <div class="p-2 mt-5">
                                        <form class="" asp-controller="Student" asp-action="RegisterStudent" enctype="multipart/form-data">


                                            <div class="auth-form-group-custom mb-4">
                                                <i class="ri-user-2-line auti-custom-input-icon"></i>
                                                <label for="FirstName">First name</label>
                                                <input type="text" class="form-control" id="FirstName" placeholder="Enter FirstName" name="FirstName">
                                            </div>
                                            @*


                                            <div class="auth-form-group-custom mb-4">
                                            <i class="ri-user-2-line auti-custom-input-icon"></i>
                                            <label for="LastName">Last name</label>
                                            <input type="text" class="form-control" id="LastName" placeholder="Enter FirstName" name="LastName">
                                            </div>
                                            *@
                                            <div class="auth-form-group-custom mb-4">
                                                <i class="ri-mail-line auti-custom-input-icon"></i>
                                                <label for="useremail">Email</label>
                                                <input type="email" class="form-control" id="useremail" placeholder="Enter email" name="Email">
                                            </div>


                                            <div class="auth-form-group-custom mb-4">
                                                <i class="ri-user-2-line auti-custom-input-icon"></i>
                                                <label for="Password">Password</label>
                                                <input type="password" class="form-control" id="Password" placeholder="Enter Password" name="Password">
                                            </div>



                                            <div class="auth-form-group-custom mb-4">
                                                <i class="ri-user-2-line auti-custom-input-icon"></i>
                                                <label for="ConfirmPassword">Re-enter Password</label>
                                                <input type="password" class="form-control" id="ConfirmPassword" placeholder="Re-enter Password" name="ConfirmPassword">
                                            </div>


                                            <div class="auth-form-group-custom mb-4">
                                                <i class="mdi mdi-arrow-down-drop-circle-outline auti-custom-input-icon"></i>
                                                <label for="Gender">Gender</label>
                                                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()"></select>

                                            </div>

                                            @*

                                            <div class="auth-form-group-custom mb-4">
                                            <i class="mdi mdi-arrow-down-drop-circle-outline auti-custom-input-icon"></i>
                                            <label for="StudentshipStatus">Studentship Status</label>
                                            <select asp-for="StudentshipStatus" class="form-control" id="StudentshipStatus" asp-items="Html.GetEnumSelectList<StudentshipStatus>()"></select>
                                            </div>

                                            <div class="auth-form-group-custom mb-4">
                                            <i class="ri-user-2-line auti-custom-input-icon"></i>
                                            <label for="FormFile">Profile picture</label>
                                            <input type="file" class="form-control" id="FormFile" accept=".png, .jpg, .jpeg">
                                            </div>
                                            *@

                                            <div class="text-center">
                                                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Register</button>
                                            </div>

                                            <div class="mt-4 text-center">
                                                <p class="mb-0">By registering you agree to the EasyLearn <a href="#" class="text-primary">Terms of Use</a></p>
                                        </div>
                                        </form>
                                        <div class="mt-5 text-center">
                                                <span>
                                                Already have an account ? <a asp-controller="Home" asp-action="Login" class="fw-medium text-primary"> Login</a> <br />  <span> ©<script>document.write(new Date().getFullYear())</script> EasyLearn. Crafted with <i class="mdi mdi-heart text-danger"></i> by S3m1c0l0n
            </span>
            </span>

            </div>
                </div>


                </div>

                </div>
                </div>
                </div>
                </div>
                </div>
                <div class="col-lg-8">
                <div class="authentication-bg position-relative">
                    <div class="bg-overlay"></div>
        </div>
        </div>
        </div>
        </div>
        </div>




        <section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                <form class="mx-1 mx-md-4">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="form3Example1c" class="form-control" />
                                            <label class="form-label" for="form3Example1c">Your Name</label>
                                    </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" id="form3Example3c" class="form-control" />
                                            <label class="form-label" for="form3Example3c">Your Email</label>
                                    </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" id="form3Example4c" class="form-control" />
                                            <label class="form-label" for="form3Example4c">Password</label>
                                    </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" id="form3Example4cd" class="form-control" />
                                            <label class="form-label" for="form3Example4cd">Repeat your password</label>
                                    </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                                        <label class="form-check-label" for="form2Example3">
                                            I agree all statements in <a href="#!">Terms of service</a>
                                    </label>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="button" class="btn btn-primary btn-lg">Register</button>
                            </div>

                            </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                     class="img-fluid" alt="Sample image">

            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    */
}
