@using EasyLearn.Models.Enums
@model EasyLearn.Models.DTOs.UserDTOs.CreateUserRequestModel

<partial name="_Notification" />


@{
    ViewData["Title"] = "Create Admin";
}

@{
    <h1>Create Admin</h1>

    <h4>CreateUserRequestModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                    @*<select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()"></select>*@


                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StudentshipStatus" class="control-label"></label>

                    <select asp-for="StudentshipStatus" class="form-control" asp-items="Html.GetEnumSelectList<StudentshipStatus>()"></select>
                    @*<select asp-for="StudentshipStatus" class="form-control"></select>*@
                    <span asp-validation-for="StudentshipStatus" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="file">Choose file</label>
                    <input type="file" name="formFile" id="formFile" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



@{

            /*
    *

    @{
    //ViewBag.Title = "EasyLearn || Register new admin";
            Layout = "_Layout";
        }


        <h2>titletitle</h2>
    <div class="row">
    <div class="col-md-4 text-center">
        @using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                @Html.LabelFor(x => x.FirstName, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "Real Name" })
                @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
            </div>

                <div class="form-group">
                @Html.LabelFor(x => x.LastName, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeholder = "Real Name" })
                @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
            </div>

                <div class="form-group">
                @Html.LabelFor(x => x.Email, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Real Name" })
                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
            </div>


                <div class="form-group">
                @Html.LabelFor(x => x.Password, new { @class = "form-label" })
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Real Name" })
                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
            </div>


                <div class="form-group">
                @Html.LabelFor(x => x.ConfirmPassword, new { @class = "form-label" })
                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Real Name" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
            </div>


                <div class="form-group">
                @Html.LabelFor(x => x.Gender, new { @class = "form-label" })
                @Html.DropDownListFor(x => x.Gender, new SelectList(Enum.GetValues(typeof(Gender))) , new { @class = "btn btn-secondary dropdown-toggle" })
                @Html.ValidationMessageFor(x => x.Gender, "", new { @class = "text-danger" })
            </div>



                <div class="form-group">
                @Html.LabelFor(x => x.StudentshipStatus, new { @class = "" })
                @Html.DropDownListFor(x => x.StudentshipStatus, new SelectList(Enum.GetValues(typeof(StudentshipStatus))), new {@class="btn btn-secondary dropdown-toggle"})
                @Html.ValidationMessageFor(x => x.StudentshipStatus, "", new { @class = "text-danger" })
            </div>

                <div class="form-group">
                @Html.LabelFor(x => x.FormFile, new { @class = "" })
                @*<label for="file">Choose file</label>*@
                <input type="file" name="formFile" id="formFile" />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
                }

    </div>

        <div class="col-md-6">
    @* <h2></h2> *@

            </div>

        </div>


    @section Scripts {
        @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
    }




     @{
     /*
     *  <form asp-action="Create" method="post" enctype="multipart/form-data">

                <div class="form-group" >
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    <label asp-for="HomeAddress" class="control-label"></label>
                    <input asp-for="HomeAddress" class="form-control" />
                    <span asp-validation-for="HomeAddress" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    <label asp-for="ResidentialAddress" class="control-label"></label>
                    <input asp-for="ResidentialAddress" class="form-control" />
                    <span asp-validation-for="ResidentialAddress" class="text-danger"></span>
            </div>
            @*
            testing date formation
            <div class="form-group">
            @Html.LabelFor(m => m.DateOfBirth)
            @Html.TextBoxFor(m => m.DateOfBirth,"{0:MM/dd/yyyy}")
            </div>

            testing date formation
            <div class="form-group">
            @Html.LabelFor(m => m.DateOfBirth)
            @Html.EditorFor(m => m.DateOfBirth,"{0:MM/dd/yyyy}")
                    </div>
                    *@


                    <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>





                    <div class="form-group">
                    <label asp-for="Gender" class="control-label" for="Gender"></label>
                    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<GenderType>()"></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>




                    <div class="form-group">
                    <label asp-for="MaritalStatus" class="control-label" for="MaritalStatus"></label>
                    <select asp-for="MaritalStatus" asp-items="Html.GetEnumSelectList<MaritalStatusType>()"></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                    <label asp-for="BankAccountNumber" class="control-label"></label>
                    <input asp-for="BankAccountNumber" class="form-control" />
                    <span asp-validation-for="BankAccountNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                    <label asp-for="BankName" class="control-label"></label>
                    <input asp-for="BankName" class="form-control" />
                    <span asp-validation-for="BankName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    <label asp-for="GuarantorName" class="control-label"></label>
                    <input asp-for="GuarantorName" class="form-control" />
                    <span asp-validation-for="GuarantorName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    <label asp-for="GuarantorPhoneNumber" class="control-label"></label>
                    <input asp-for="GuarantorPhoneNumber" class="form-control" />
                    <span asp-validation-for="GuarantorPhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                        <div class="form-group">
                        <label asp-for="ProfilePicture" style="width: 100%;"></label>

                        <input asp-for="ProfilePicture" type="file" accept=".png,.jpg,.jpeg,.gif,.tif" class="form-control" style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;" onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                        <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                    </div>
                    </div>


                    <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
    </div>
    </form>
        </div>
        </div>

        <div>
        <a asp-action="Index" class="btn btn-warning">Back to List</a>
    </div>

    <br />
            <br />
        <br />
        <br />
        }
        @section Scripts {
        @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
                     }
        }









        <form asp-action="Create">

                <div class="form-group" method="post" enctype="multipart/form-data"	>
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    <label asp-for="Gender" class="control-label" for="Gender"></label>
                    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<GenderType>()"></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>




                    <div class="form-group">
                    <label asp-for="MaritalStatus" class="control-label" for="MaritalStatus"></label>
                    <select asp-for="MaritalStatus" asp-items="Html.GetEnumSelectList<MaritalStatusType>()"></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                    <label asp-for="BankAccountNumber" class="control-label"></label>
                    <input asp-for="BankAccountNumber" class="form-control" />
                    <span asp-validation-for="BankAccountNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    <label asp-for="BankName" class="control-label"></label>
                    <input asp-for="BankName" class="form-control" />
                    <span asp-validation-for="BankName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    <label asp-for="GuarantorName" class="control-label"></label>
                    <input asp-for="GuarantorName" class="form-control" />
                    <span asp-validation-for="GuarantorName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    <label asp-for="GuarantorPhoneNumber" class="control-label"></label>
                    <input asp-for="GuarantorPhoneNumber" class="form-control" />
                    <span asp-validation-for="GuarantorPhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    <label asp-for="StreetName" class="control-label"></label>
                    <input asp-for="StreetName" class="form-control" />
                    <span asp-validation-for="StreetName" class="text-danger"></span>
                    </div>



                    <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    </div>


                    <div class="">
                    @Html.LabelFor(x => x.ConfirmPassword, new {@class = "control-label"})
                    @Html.PasswordFor(x => x.ConfirmPassword, new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.ConfirmPassword,"", new
                {@class="text-danger"})
                    </div>


                    <div class="form-group">
                    <label asp-for="ProfilePicture" style="width: 100%;"></label>


                    <input asp-for="ProfilePicture" type="file" accept=".png,.jpg,.jpeg,.gif,.tif" class="form-control" style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;" onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                    </div>



                    <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                            </form>















              <form asp-action="Create">
                    <h1>Add New Customer</h1>
                        <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                        <label asp-for="Gender" class="control-label" for="Gender"></label>
                        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<GenderType>()"></select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                        <label asp-for="MaritalStatus" class="control-label" for="MaritalStatus"></label>
                        <select asp-for="MaritalStatus" asp-items="Html.GetEnumSelectList<MaritalStatusType>()"></select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>


                    <input type="submit" value="Create" class="btn btn-success" />
                        <span>
                        <a asp-action="Index" class="btn btn-warning">Back to List</a>
    </span>
            </form>














    *
    */
}