@model EasyLearn.Models.DTOs.AdminDTOs.AdminResponseModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="row">
    <div class="col-sm-11">

        @* <table class="table table-hover"> *@
        <input name="Id" value="@Model.Data.Id" type="text"/>

        <table class="table table-hover able-striped table-borderless ">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">@Html.DisplayNameFor(x => x.Data.FirstName)</th>
                <td>@Html.DisplayFor(x => x.Data.FirstName)</td>
            </tr>

            <tr>
                <th scope="row">@Html.DisplayNameFor(x => x.Data.LastName)</th>
                <td>@Html.DisplayFor(x => x.Data.LastName)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(x => x.Data.Email)</th>
                <td>@Html.DisplayFor(x => x.Data.Email)</td>
            </tr>

            <tr>
                <th scope="row">@Html.DisplayNameFor(x => x.Data.Gender)</th>
                <td>@Html.DisplayFor(x => x.Data.Gender)</td>
            </tr>

            <tr>
                <th scope="row">@Html.DisplayNameFor(x => x.Data.StudentshipStatus)</th>
                <td>@Html.DisplayFor(x => x.Data.StudentshipStatus)</td>
            </tr>

            <tr>
                <th scope="row">@Html.DisplayNameFor(x => x.Data.Password)</th>
                <td>@Html.DisplayFor(x => x.Data.Password)</td>
            </tr>
            </tbody>
        </table>

        <div>
            <a asp-action="Delete" asp-route-id="@Model.Data.Id" class="btn btn-danger" >Confirm Delete</a>
            <a class="btn btn-info" asp-action="UpdateProfile" asp-route-id="@Model.Data.Id">Update</a>

        </div>
    </div>
</div>