@*@using EasyLearn.Models.DTOs.UserDTOs;
@model UsersResponseModel*@
@{
    //ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-sm-11">
        <h2>
            <a>Search results..</a>
        </h2>
        <div class="table-responsive">

            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Gender</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var serialNumber = 1;
                    }
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <th scope="row">@serialNumber </th>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Email</td>
                            <td>@item.Gender</td>

                            <td>
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-success">Details</a>
                            </td>
                            <td>
                                <a asp-action="DeletePreview" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </td>

                            <td>
                                <a asp-controller="Admin" asp-action="UpgradeUser" asp-route-userId="@item.Id" class="btn btn-info">Upgrade</a>
                            </td>

                        </tr>

                        serialNumber++;
                    }


                </tbody>

            </table>
        </div>

    </div>
</div>

