@using EasyLearn.Models.ViewModels;
@model AdminIndexViewModel
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-1 overflow-hidden">
                        <p class="text-truncate font-size-14 mb-2">Total enrollments</p>
                        @*<h4 class="mb-0">&#x20A6 @Model.Enrolments.NumberOfEnrollments</h4>*@
                        <h4 class="mb-0">&uarr; @Model.Enrolments.NumberOfEnrollments</h4>
                    </div>
                    <div class="text-primary ms-auto">
                        <i class="ri-stack-line font-size-24"></i>
                    </div>
                </div>
            </div>

            <div class="card-body border-top py-3">
                <div class="text-truncate">
                    <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4% </span>
                    <span class="text-muted ms-2">From previous period</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-1 overflow-hidden">
                        <p class="text-truncate font-size-14 mb-2">Number of Courses</p>
                        <h4 class="mb-0">&#x20A6 @Model.Courses.NumberOfCourse</h4>
                    </div>
                    <div class="text-primary ms-auto">
                        <i class="ri-store-2-line font-size-24"></i>
                    </div>
                </div>
            </div>
            <div class="card-body border-top py-3">
                <div class="text-truncate">
                    <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4% </span>
                    <span class="text-muted ms-2">From previous period</span>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-1 overflow-hidden">
                        <p class="text-truncate font-size-14 mb-2">Search User</p>
                        <form asp-controller="Admin" asp-action="FindUser">
                            <input type="text" placeholder="Search for user.." name="emailOrname">
                            <button type="submit"><i class="fa fa-search"></i> Search</button>
                        </form>

@*
                        <form asp-controller="Admin" asp-action="UpgradeUser">
                        <input type="search" name="userId" />
                        <input  type="submit"/>
                        </form>*@
                    </div>
                    <div class="text-primary ms-auto">
                        <i class="ri-briefcase-4-line font-size-24"></i>
                    </div>
                </div>
            </div>
            <div class="card-body border-top py-3">
                <div class="text-truncate">
                    <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4% </span>
                    <span class="text-muted ms-2">From previous period</span>
                </div>
            </div>
        </div>
    </div>

</div>



<!-- JAVASCRIPT -->
<!-- end row -->

<div class="row">

    <!--This ends here-->
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="dropdown float-end">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Profit</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Action</a>
                    </div>
                </div>

                <h4 class="card-title mb-4">Latest Enrollments</h4>

                <div class="table-responsive">
                    <table class="table table-centered datatable dt-responsive nowrap" data-bs-page-length="5"
                           style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead class="table-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="ordercheck">
                                        <label class="form-check-label mb-0" for="ordercheck">&nbsp;</label>
                                    </div>
                                </th>
                                <th>#</th>
                                <th>Course title</th>
                                <th>Price</th>
                                <th>Level</th>
                                <th>Language</th>
                                <th>Language</th>
                                <th style="width: 120px;">Action</th>
                            </tr>
                        </thead>

                        <tbody>

                            @{
                                var serialNumber = 1;
                            }
                            @foreach (var item in Model.Courses.Data)
                            {
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="ordercheck1">
                                            <label class="form-check-label mb-0" for="ordercheck1">&nbsp;</label>
                                        </div>
                                    </td>

                                    <td><a href="javascript: void(0);" class="text-dark fw-bold">@serialNumber</a> </td>

                                    <td><a href="javascript: void(0);" class="text-dark fw-bold">@item.Title</a> </td>
                                    <td>
                                        @item.CourseDuration
                                    </td>
                                    <td>@item.CategoriesName</td>

                                    <td>
                                        @item.DifficultyLevel
                                    </td>
                                    <td>
                                        <div class="badge badge-soft-success font-size-12">@item.CourseLanguage</div>
                                    </td>
                                    <td id="tooltip-container1">
                                        <a href="javascript:void(0);" class="me-3 text-primary"
                                       data-bs-container="#tooltip-container1" data-bs-toggle="tooltip"
                                       data-bs-placement="top" title="Edit">
                                            <i class="mdi mdi-pencil font-size-18"></i>
                                        </a>
                                        <a href="javascript:void(0);" class="text-danger"
                                       data-bs-container="#tooltip-container1" data-bs-toggle="tooltip"
                                       data-bs-placement="top" title="Delete">
                                            <i class="mdi mdi-trash-can font-size-18"></i>
                                        </a>
                                    </td>
                                </tr>
                                @(serialNumber++)
                                ;
                            }
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>




    <!-- end row -->

    <div class="col-lg-4">
        <div class="card">
            <div class="card-body border-bottom">


                <h4 class="card-title mb-4">Recent Activity Feed</h4>

                <div data-simplebar style="max-height: 330px;">
                    <ul class="list-unstyled activity-wid">
                        @if (Model.Enrolments.Data != null)
                        {
                            @foreach (var item in Model.Enrolments.Data)
                            {
                                <li class="activity-list">
                                    <div class="activity-icon avatar-xs">
                                        <span class="avatar-title bg-soft-primary text-primary rounded-circle">
                                            <i class="ri-edit-2-fill"></i>
                                        </span>
                                    </div>
                                    <div>
                                        <div>
                                            <h5 class="font-size-13">
                                                @item.CreatedOn.ToShortDateString()<small class="text-muted">@item.CreatedOn.ToShortTimeString()</small>
                                            </h5>
                                        </div>

                                        <div>
                                            <p class="text-muted mb-0">@item.CourseTitle</p>
                                            <p class="text-muted mb-0">@item.StudentName</p>
                                        </div>
                                    </div>
                                </li>

                            }
                        }

                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>



<!-- end row -->
<!-- JAVASCRIPT -->
@{
            /*































































































































            @* @model dynamic *@































































    @model EasyLearn.Models.DTOs.AdminDTOs.AdminsResponseModel































































































































            @{































































    //ViewBag.Title = "title";































































            Layout = "_Layout";































































    <partial name="_Notification" />































































            }































































































































            @{































































    //ViewBag.Title = "title";































































            Layout = "_Layout";































































            }































































            <div class="row">































































            <div class="col-sm-11">































































            <h2>































































    <a asp-action="Create">Admin</a>































































            </h2>































































    <div class="table-responsive">































































































































    <table class="table table-hover table-striped table-bordered">































































            <thead>































































            <tr>































































            <th scope="col">#</th>































































    <th scope="col">First Name</th>































































    <th scope="col">Last Name</th>































































    <th scope="col">Email</th>































































    <th scope="col">Gender</th>































































    <th scope="col">Student Status</th>































































    <th scope="col">Password</th>































































            <th scope="col"></th>































































            <th scope="col"></th>































































            <th scope="col"></th>































































            </tr>































































            </thead>































































            <tbody>































































            @{































































            var serialNumber = 1;































































            }































































    @foreach (var item in Model.Data)































































            {































































            <tr>































































    <th scope="row">@serialNumber </th>































































            <td>@item.FirstName</td>































































            <td>@item.LastName</td>































































            <td>@item.Email</td>































































            <td>@item.Gender</td>































































    <td>@item.StudentshipStatus</td>































































            <td>@item.Password</td>































































            <td>































































    <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-success">Details</a>































































            </td>































































            <td>































































    <a asp-action="DeletePreview" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>































































            </td>































































































































            <td>































































    <a asp-action="UpdateProfile" asp-route-id="@item.Id" class="btn btn-info">Update</a>































































            </td>































































































































            </tr>































































































































            serialNumber++;































































            }































































































































































































            </tbody>































































            @section Scripts































































            {































































    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>































































    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>































































    <script src="~/js/customerDatatable.js"></script>































































































































            }































































































































            </table>































































            </div>































































































































            </div>































































            </div>































































    */
}