@model EasyLearn.Models.DTOs.ModulesDTOs.ModulesResponseModel

@{
    //ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-sm-11">
        @*@{
        var courseId = "";
        if (Model.Status)
        {
        <a asp-action="Create" asp-route-CourseId="@courseId">Create Module</a>
        }
        }*@
        <h2><a asp-action="Create" asp-route-CourseId="@Model.CourseId">Create Module</a></h2>
        <div class="table-responsive">

            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Resources</th>
                        <th scope="col">Prerequisites</th>
                        <th scope="col">Objective</th>
                        <th scope="col">ModuleDuration</th>
                        <th scope="col">SequenceOfModule</th>
                        <th scope="col">VideoPath</th>
                        <th scope="col">CourseId</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var serialNumber = 1;
                    }
                    @if (Model.Status)
                    {
                        @foreach (var item in Model.Data)
                        {
                            <tr>
                                <th scope="row">@serialNumber </th>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td>@item.Resources</td>
                                <td>@item.Prerequisites</td>
                                <td>@item.Objective</td>
                                <td>@item.ModuleDuration</td>
                                <td>@item.SequenceOfModule</td>
                                <td>@item.VideoPath</td>
                                <td>@item.CourseId</td>
                                <td>
                                    <a asp-action="GetById" asp-route-id="@item.Id" class="btn btn-success">Details</a>
                                </td>
                                <td>
                                    <a asp-action="DeletePreview" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                </td>

                                <td>
                                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-info">Update</a>
                                </td>

                            </tr>

                            serialNumber++;
                        }

                    }


                </tbody>

            </table>
        </div>

    </div>
</div>