@model EasyLearn.Models.DTOs.CategoryDTOs.CreateCategoryRequestModel

@{
    //ViewBag.Title = "EasyLearn || Register new admin";
    Layout = "_Layout";
}

<partial name="_Notification" />

<h2>titletitle</h2>
<div class="row">
    <div class="col-md-4 text-center">
        @using (Html.BeginForm("Create", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.Name, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Real Name" })
                @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Description, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = "Real Name" })
                @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                @Html.LabelFor(x => x.FormFile, new { @class = "" })
                @*<label for="file">Choose file</label>*@
                <input type="file" name="formFile" id="formFile" />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        }

    </div>

    <div class="col-md-6">
        @* <h2></h2> *@

    </div>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
