@model EasyLearn.Models.DTOs.CourseDTOs.CourseResponseModel

@{
    Layout = "_Layout";
}


<section style="background-color: #DFDFE1;">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card" style="border-radius: 15px;">
                    <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
                         data-mdb-ripple-color="light">
                        <img src="/uploads/images/course/f910a685sf02cs4426s8f51sf935268fb8ab.png"
                             style="border-top-left-radius: 15px; border-top-right-radius: 15px;" class="img-fluid"
                             alt="Laptop" />
                        <a href="#!">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p><a href="#!" class="text-dark fw-bolder fs-4">@Model.Data.Title</a></p>
                                <a asp-controller="Instructor" asp-action="InstructorDetail" asp-route-id="@Model.Data.InstructorId">@Model.Data.InstructorName </a>
                                <p class="small fw-bold">@Model.Data.CourseLanguage</p>
                                <p class="small text-muted">Difficulty: @Model.Data.DifficultyLevel</p>
                            </div>
                            <div>
                                <div class="d-flex flex-row justify-content-end mt-1 mb-4 text-danger">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <p class="small text-muted">Rated 4.0/5</p>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body pb-0">
                        <p class="small fw-bold">Course Categories
                            @foreach (var item in @Model.Data.CategoriesName)
                            {
                                <span class="fw-bold">
                                    @item ,
                                </span>
                            } 
                            </p>
                        <div class="d-flex justify-content-between">
                            <p><a href="#!" class="text-dark"></a>@Model.Data.Description</p>
                            <p class="text-dark">$@Model.Data.Price</p>
                        </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                            <a href="#!" class="text-dark fw-bold">Cancel</a>
                            <button type="button" class="btn btn-primary">Buy now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="row">
    <div class="col-sm-11">

        @* <table class="table table-hover"> *@
        <table class="table table-hover able-striped table-borderless ">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <th scope="row">@Html.DisplayNameFor(x => x.Data.Title)</th>
                    <td>@Html.DisplayFor(x => x.Data.Title)</td>
                </tr>

                <tr>
                    <th scope="row">@Html.DisplayNameFor(x => x.Data.Description)</th>
                    <td>@Html.DisplayFor(x => x.Data.Description)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(x => x.Data.CourseLanguage)</th>
                    <td>@Html.DisplayFor(x => x.Data.CourseLanguage)</td>
                </tr>

                <tr>
                    <th scope="row">@Html.DisplayNameFor(x => x.Data.DifficultyLevel)</th>
                    <td>@Html.DisplayFor(x => x.Data.DifficultyLevel)</td>
                </tr>

                <tr>
                    <th scope="row">@Html.DisplayNameFor(x => x.Data.Requirement)</th>
                    <td>@Html.DisplayFor(x => x.Data.Requirement)</td>
                </tr>

                <tr>
                    <th scope="row">@Html.DisplayNameFor(x => x.Data.CourseDuration)</th>
                    <td>@Html.DisplayFor(x => x.Data.CourseDuration)</td>
                </tr>


                <tr>
                    <th scope="row">@Html.DisplayNameFor(x => x.Data.Price)</th>
                    <td>@Html.DisplayFor(x => x.Data.Price)</td>
                </tr>


                <tr>
                    <th scope="row">@Html.DisplayNameFor(x => x.Data.InstructorId)</th>
                    <td>@Html.DisplayFor(x => x.Data.InstructorId)</td>
                </tr>



            </tbody>

        </table>

    </div>
</div>