@model EasyLearn.Models.DTOs.CourseDTOs.CoursesResponseModel
@{
    ViewBag.Title = "Product";
    ViewBag.pTitle = "Product";
    ViewBag.pageTitle = "Ecommerce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ION Slider -->
<link href="~/assets/libs/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" type="text/css" />

<div class="row">
    <partial name="~/Views/Shared/_sideFilter.cshtml" />
    <div class="col-lg-9">
        <div class="card">
            <div class="card-body">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <h5>Available courses</h5>
                                <ol class="breadcrumb p-0 bg-transparent mb-2">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Programing</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Java</a></li>
                                    <li class="breadcrumb-item active">Bigginers</li>
                                </ol>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-inline float-md-end">
                                <div class="search-box ms-2">
                                    <div class="position-relative">
                                        <input type="text" class="form-control rounded" placeholder="Search...">
                                        <i class="mdi mdi-magnify search-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <ul class="list-inline my-3 ecommerce-sortby-list">
                        <li class="list-inline-item"><span class="fw-medium font-family-secondary">Sort by:</span></li>
                        <li class="list-inline-item active"><a href="#">Popularity</a></li>
                        <li class="list-inline-item"><a href="#">Newest</a></li>
                        <li class="list-inline-item"><a href="#">Discount</a></li>
                    </ul>




                    <div class="row g-3">

                        @foreach (var item in Model.Data)
                        {
                            <div class="col-md-4 mt-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-img-actions">

                                            <div class="product-ribbon badge bg-warning">
                                                @item.CourseLanguage <a asp-controller="Enrolment" asp-action="Create" asp-route-courseId="@item.Id">
                                                    <i class="mdi mdi-cart mdi-dark"></i>
                                                </a>
                                            </div>

                                            <img src="/uploads/images/course/@item.CourseLogo" class="resize-image img-fluid" alt="">
                                        </div>
                                    </div>

                                    <div class="card-body bg-light text-center">

                                        <div class="mb-2">


                                            <h6 class="font-weight-semibold mb-2">
                                                <a asp-controller="Course" asp-action="Detail" asp-route-courseId="@item.Id" class="text-default mb-2" data-abc="true">@item.Title</a>
                                            </h6>
                                            <a href="#" class="text-muted" data-abc="true">@item.CourseLanguage</a>
                                        </div>
                                        <h3 class="mb-0 font-weight-semibold">&#x20A6;@item.Price</h3>
                                        <div>
                                            <i class="fa fa-star star"></i>
                                            <i class="fa fa-star star"></i>
                                            <i class="fa fa-star star"></i>
                                            <i class="fa fa-star star"></i>
                                        </div>
                                        <div class="text-muted mb-3">@item.DifficultyLevel reviews</div>
                                        <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                    <div class="row mt-4">
                        <div class="col-sm-6">
                            <div>
                                <p class="mb-sm-0 mt-2">Page <span class="fw-bold">2</span> Of <span class="fw-bold">113</span></p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="float-sm-end">
                                <ul class="pagination pagination-rounded mb-sm-0">
                                    <li class="page-item disabled">
                                        <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">1</a>
                                    </li>
                                    <li class="page-item active">
                                        <a href="#" class="page-link">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">5</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link"><i class="mdi mdi-chevron-end"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>






<!-- Ion Range Slider-->
<script src="~/assets/libs/ion-rangeslider/js/ion.rangeSlider.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/product-filter-range.init.js"></script>

<script src="~/assets/js/app.js"></script>


@*
<div class="container d-flex justify-content-center mt-50 mb-50">

    <div class="row">










        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">
                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png" class="card-img img-fluid" width="96" height="350" alt="">
                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>

                    <div class="text-muted mb-3">34 reviews</div>

                    <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


                </div>
            </div>




        </div>









        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png" class="card-img img-fluid" width="96" height="350" alt="">
                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>

                    <div class="text-muted mb-3">34 reviews</div>

                    <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


                </div>
            </div>




        </div>





        <div class="col-md-4 mt-2">


            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png" class="card-img img-fluid" width="96" height="350" alt="">


                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>

                    <div class="text-muted mb-3">34 reviews</div>

                    <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


                </div>
            </div>




        </div>


        <div class="col-md-4 mt-2">


            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png" class="card-img img-fluid" width="96" height="350" alt="">


                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>

                    <div class="text-muted mb-3">34 reviews</div>

                    <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


                </div>
            </div>




        </div>


        <div class="col-md-4 mt-2">


            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png" class="card-img img-fluid" width="96" height="350" alt="">


                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>

                    <div class="text-muted mb-3">34 reviews</div>

                    <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


                </div>
            </div>




        </div>


        <div class="col-md-4 mt-2">


            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png" class="card-img img-fluid" width="96" height="350" alt="">


                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>

                    <div class="text-muted mb-3">34 reviews</div>

                    <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


                </div>
            </div>




        </div>





    </div>
</div>
*@
















@*
                        @foreach (var item in Model.Data)
                        {

                        <div class="col-xl-4 col-sm-6">
                        <div class="product-box">
                        <div class="product-img">
                        <div class="product-ribbon badge bg-warning">
                        @item.CourseLanguage
                        </div>
                        <div class="product-like">
                        <a href="#">
                        <i class="mdi mdi-cart mdi-spin mdi-dark"></i>
                        </a>
                        </div>
                        <img src="/uploads/images/course/@item.CourseLogo" alt="@item.Title" class="resize-image mx-auto d-block">

                        </div>

                        <div class="text-center">
                        <p class="font-size-12 mb-1">@item.Title</p>
                        <h5 class="font-size-15"><a href="#" class="text-dark">@item.Description</a></h5>

                        <h5 class="mt-3 mb-0">&#x20A6;@item.Price</h5>
                        </div>
                        </div>
                        </div>

                        }
                        *@



@{

    /*
    *
    <div class="row">
    <div class="col-sm-11">
    <h2>
    <a asp-action="Create">Create Course</a>
    </h2>
    <div class="table-responsive">

    <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">CourseLanguage</th>
                <th scope="col">DifficultyLevel</th>
                <th scope="col">Requirement</th>
                <th scope="col">CourseDuration</th>
                <th scope="col">Price</th>
            <th scope="col">InstructorId</th>
                <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                    var serialNumber = 1;
                    }
                    @foreach (var item in Model.Data)
                    {
                    <tr>
                    <th scope="row">@serialNumber </th>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.CourseLanguage</td>
                    <td>@item.DifficultyLevel</td>
                        <td>@item.Requirement</td>
                        <td>@item.CourseDuration</td>
                        <td>@item.Price</td>
                        <td>@item.InstructorId</td>
                        <td>
                        <a asp-controller="Module" asp-action="GetAllByCourseId" asp-route-courseId="@item.Id" class="btn btn-success">More..</a>
                        </td>

                        <td>
                        <a asp-controller="Enrolment" asp-action="Create" asp-route-courseId="@item.Id" class="btn btn-success">Enroll</a>
                        </td>

                        <td>
                        <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-success">Details</a>
                        </td>

                        <td>
                        <a asp-action="DeletePreview" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>

                        <td>
                        <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-info">Update</a>
                    </td>

                    </tr>

                            serialNumber++;
    }


    </tbody>

    </table>
    </div>

    </div>
    </div>
    */
}

