@model EasyLearn.Models.DTOs.CourseDTOs.CourseRequestModel

@{
    //ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<br>
<div class="row row-content d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <h3 class="card-header bg-black text-center"><strong>Update Admin Details</strong></h3>
            <div class="card-body">
                <form method="POST">
                    <p>Check the details carefully before clicking on the Update button</p>
                    <input name="Id" value="@Model.Data.Id" type="hidden" />
                    <div>
                        <label asp-for="Data.Title" class="control-label"></label>
                        <input name="Title" value="@Model.Data.Title" type="text" class="form-control" required />
                    </div>
                    <div>
                        <label asp-for="Data.Description" class="control-label"></label>
                        <input name="Description" value="@Model.Data.Description" type="text" class="form-control" required />
                    </div>
                    <div>
                        <label asp-for="Data.CourseLanguage" class="control-label"></label>
                        <input name="CourseLanguage" value="@Model.Data.CourseLanguage" type="text" class="form-control" required />
                    </div>

                    <div>
                        <label asp-for="Data.DifficultyLevel" class="control-label"></label>
                        <input name="DifficultyLevel" value="@Model.Data.DifficultyLevel" type="text" class="form-control" required />
                    </div>

                    <div>
                        <label asp-for="Data.Requirement" class="control-label"></label>
                        <input name="Requirement" value="@Model.Data.Requirement" type="text" class="form-control" required />
                    </div>

                    <div>
                        <label asp-for="Data.CourseDuration" class="control-label"></label>
                        <input name="CourseDuration" value="@Model.Data.CourseDuration" type="tel" class="form-control" required />
                    </div>
                    
                    <div>
                        <label asp-for="Data.Price" class="control-label"></label>
                        <input name="Price" value="@Model.Data.Price" type="tel" class="form-control" required />
                    </div>

                    <br />
                    <button type="submit">Update</button>

                </form>
            </div>
        </div>
    </div>
</div>