@model EasyLearn.Models.DTOs.PaymentDetailDTOs.PaymentsDetailRequestModel 

@{
    //ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-sm- 1">


        <div class="search-container-side">

            <!-- search box  -->
            <div class="search-container">
                <form asp-controller="Attendant" asp-action="GetByStaffId">
                    <input type="text" placeholder="Attendant Id.." name="staffId">
                    <button type="submit">
                        <i class="fa fa-search"></i> Search
                    </button>
                </form>
            </div>

        </div>
        
    </div>
    <div class="col-sm-11">
        <h2>
            <a asp-action="Create">Create Admin</a>
        </h2>
        <div class="table-responsive">

            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Bank Name</th>
                        <th scope="col">Account Number</th>
                        <th scope="col">Account Name</th>
                        <th scope="col">Accoutnt Type</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var serialNumber = 1;
                    }
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <th scope="row">@serialNumber </th>
                            <td>@item.AccountName</td>
                            <td>@item.AccountNumber</td>
                            <td>@item.AccountName</td>
                            <td>@item.AccountType</td>
                            <td>@item.AccountType</td>
                            <td>
                                <a asp-action="" asp-route-id="@item.Id" class="btn btn-success">Detail</a>
                            </td>
                            <td>
                                <a asp-action="" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </td>
                            <td>
                                 <a asp-action="UpdateBankDetail" asp-route-id="@item.Id" class="btn btn-info">Edit Bank Details </a>
                            </td>
                        </tr>

                        serialNumber++;
                    }
                </tbody>

            </table>
        </div>

    </div>
</div>